<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="first_robot">
 <xacro:macro name="base_xacro" params="length radius">
     <!--机器人身体部分-->
     <link name="base_link">
     <!--机器人feature-->
         <visual>
          <!--沿自己几何中心的偏移和旋转量-->
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <!--几何形状-->
          <geometry>
              <cylinder radius="${radius}" length="${length}"/>
          </geometry>
          <!--材质-->
          <material name="white">
             <color rgba="1 1 1 0.5"/>
          </material>
        </visual>
    </link>
 </xacro:macro>

</robot>